.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
}

.settingsUpdateTitle {
  font-size: 15px;
  margin-bottom: 20px;
  color: rgb(77, 71, 71);
}

.settingsDeleteTitle {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-left: 150px;
}

.settingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 12px;
  margin-top: 10px;
  direction: rtl;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmit {
  width: 100%;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: gray;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'VazirMedium';
}

@media only screen and (max-width: 490px) and (min-width: 240px) {
  .settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
  }

  .settingsUpdateTitle {
    font-size: 10px;
    margin-bottom: 20px;
    color: rgb(77, 71, 71);
  }

  .settingsDeleteTitle {
    color: red;
    font-size: 20px;
    cursor: pointer;
  }

  .settingsForm {
    display: flex;
    flex-direction: column;
  }

  .settingsPP {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: 80px;
  }

  .settingsPP > img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
  }

  .settingsPPIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
  }

  .settingsForm > label {
    font-size: 12px;
    margin-top: 10px;
    direction: rtl;
  }

  .settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 25px;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .settingsSubmit {
    width: 100%;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: gray;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'VazirMedium';
  }
}
@media screen and (max-width: 240px) {
  .settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
  }

  .settingsUpdateTitle {
    font-size: 7px;
    margin-bottom: 20px;
    color: rgb(77, 71, 71);
  }

  .settingsDeleteTitle {
    color: red;
    font-size: 12px;
    cursor: pointer;
  }

  .settingsForm {
    display: flex;
    flex-direction: column;
  }

  .settingsPP {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: 50px;
  }

  .settingsPP > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
  }

  .settingsPPIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    cursor: pointer;
  }

  .settingsForm > label {
    font-size: 8px;
    margin-top: 8px;
    direction: rtl;
  }

  .settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 10px;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .settingsSubmit {
    width: 100%;
    align-self: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: gray;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'VazirMedium';
  }
}
